<tr>
  <td class="recipe">
  	<span class="recipe_name"><%= recipe.recipe_name %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(recipe.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(recipe.user) %>
    <td>
      <%= link_to "delete", recipe, :method => :delete,
      								:confirm => "You sure?",
      								:title => recipe.recipe_name %>
    </td>
  <% end %>
</tr>
